/***************************** Body Styles ******************************/

body {
    color: #8A888A;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url("../images/what-the-hex.png");
    background-color: #ebebeb;
    background-repeat: repeat;
}

/***************************** Typography ******************************/

h1,
h2 {
   font-family: 'Georgia', Times, Times New Roman, serif;
   font-weight: 600;
   font-size: 1.5em;
}

h2 {
    color: #4aaaa5;
}

/***************************** Header ******************************/

header {
    width: 100%;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    margin-bottom: 40px;
}

.logo {
    background-color: #4aaaa5;
    color: #fff; 
    padding: 10px 30px;
    margin: -13px;
} 

.nav-link {
    border-right: 1px solid #eee;
    padding: 0 15px;
}

.nav-link:last-child {
    border: none;
}

section {
    background-color: #fff;
}

.main h2 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 20px;
    margin-top: 0;
}

/***************************** Portfolio ******************************/

.project {
    position: relative;
    text-align: center;
    color: #fff;
    margin-bottom: 3rem;
    min-width: 30%;
}

.project-title {
    background-color: #4aaaa5;
    position: absolute;
    bottom: 5px;
    padding: 10px 0;
    width: 100%;
}

.project:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    transition-property: transform box-shadow;
    transition-duration: .3s;
}

.project:active {
    transform: translateY(-2px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

/***************************** Footer ******************************/

footer {
    background-color: #666;
    border-top: 8px solid #4aaaa5;
    color: #eee;   
}

footer p {
    margin: 30px 0 5px; 
}
